<%= form_with model: [publication, publication.comments.build ], local: true do |form| %>
  <div class="field">
    <%= form.label :Contenido %>
    <%= form.text_field :contenido %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Aceptar</button>
    <div class="control">
    </div>
    

<% end %>

<!-- este formulario al hacer submit, llamará a la ruta post -->