<h1 class="subtitle">¿Qué piensas de <%=@receiver.nombre%>, <%=@requestor.nombre%>? ¡Nos interesa tu opinión!</h1>
<div class="columns is-mobile">
    <div class="column is-full ">
        <%= render 'form' %>
    </div>
</div>