<h1 class="title">♥Quienes Somos♥</h1>
<br>

<div class="columns is-mobile">
    <div class="column is-2">
        <nav class="level">
            <div class="level-item">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://drive.google.com/uc?id=1PH2-2h0pfzfTld4-QlGdIZwjZBM-1WNh" style="height: 175px;">
                </figure>
            </div>
            <div class="level-item pl-6">
                <div class="content pt-6">
                    <p>Soy Renata Barrera, tengo 23 años y soy estudiante de Ingeniería en la Universidad Católica.<br><br>
                    Siempre he sentido una fuerte conexión con los animales. Desde niña que siempre he estado mentalizada a ayudar de alguna<br> forma,
                    es por esto que he visto esta oportuniad de crear este ambiente seguro para compra y adopción de animales y la he <br>tomado.<br><br>
                    Ahora que poseo el conocimiento práctico de crear una página web, me vi inmediatamente empedernida en hacerlo, <br>
                    con el fin de facilitar y fomentar la adopción de animales. </p>
                    <p>No dudes en contactarme a <a>renatabarrera@uc.cl</a> si tienes comentarios, dudas o sugerencias.</p>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <nav class="level">
            <div class="level-item">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://drive.google.com/uc?id=1UzYdFDri785Z_8cesjB98JNq9Tg9Hb0r" style="height: 175px;">
                </figure>
            </div>
            <div class="level-item pl-6">
                <div class="content pt-6">
                    <p>Soy Ignacio Medel, tengo 23 años y soy estudiante de Ingeniería en la Universidad Católica.<br><br>
                    Mi familia es de perros, desde niño siempre hemos tenido 4 o 6 perros en la casa. He crecido rodeados de su cariño y amor<br> toda mi vida.
                    Siempre me ha menoscabado ver perros “callejeros”, ya que encuentro que es nuestra responsabilidad como <br> sociedad cuidarles y amarles.
                    </p>
                    <p>
                        Gracias al ramo de Ingeniería de Software de mi carrera, ahora tengo el conocimiento de hacer una página web, sin dudarlo<br>
                        de forma inmediata me mentalicé en crear una página que brindase una red de adopción de animales gratuita y simple para<br> todes.<br>
                        <p>No dudes en contactarme a <a>ignaciomedel@uc.cl</a> si tienes comentarios, dudas o sugerencias.</p>
                    </p>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <nav class="level">
            <div class="level-item">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://drive.google.com/uc?id=1Nqftwtm22zmOKOPoKQkWKFNy7gOiB2e8" style="height: 175px;">
                </figure>
            </div>
            <div class="level-item pl-6 pb-6">
                <div class="content">
                    <div class="content pt-6">
                        <p>Soy Raimundo Murúa, tengo 25 años y soy estudiante de Ingeniería en la Universidad Católica.<br><br>
                        Me encantan los animales, he tenido una gran variedad de estos a lo largo de mi vida. He tenido: gatos, perros, loros, erizos <br>
                        de tierra, conejos, peces y muchos más. Fue mi idea denominar a nuestros usuarios Animal Lovers♥. <br><br>
                        Ahora gracias a los conocimientos que he adquirido a lo largo de mi carrera, he decidido aportar con mi granito de arroz <br>
                        al hacer una pagina que fomente la adopción de animales.</p>
                        <p>No dudes en contactarme a <a>rmmurua@uc.cl</a> si tienes comentarios, dudas o sugerencias.</p>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <br>
    </div>
</div>



  

    
